.desktopCategoryItemOuter {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
    margin-right: 75px;
}

.desktopCategoryName {
    margin: 0px;
    margin-top: 15px;
    font-family: 'Futura-Medium';
    font-size: 20px;
    color: #5A5A5A;
    text-align: center;
}

.desktopCategoryBrand {
    margin: 0px;
    margin-top: 5px;
    font-family: 'Futura-Medium-Italic';
    font-size: 14px;
    color: #A3A3A3;
    text-align: center;
}

.desktopCategoryItemSrc {
    height: 300px;
    width: 250px;
}

.desktopCategoryItemMatch {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 225px;
    bottom: 385px;
    background-color: #30C2D6;
    height: 50px;
    width: 50px;
    border-radius: 25px;
}

.desktopCategoryItemMatch > p {
    font-family: 'Futura-Medium';
    font-size: 16px;
    color: #fff;
}